# Importação de um Dataframe Pandas para análise através do Jupyter Notebook

Olá tudo bem?!?! Aqui é Elias Cruz e pouco mais de 8 meses tive um desafio em pesquisar sobre uma linguagem que vinha crescendo e em meu curso de "CIÊNCIA DE DADOS E BIG DATA" fui desafiado a conhecer e explorar essa linguagem para realiação da entrega do meu trabalho de conclusão de curso.

“O segredo de progredir é começar. 

O segredo de começar é dividir as tarefas árduas e complicadas em tarefas pequenas e fáceis de executar, e depois começar pela primeira” (Mark Twain)

Deixo aqui alguns passos que me ajudaram muito a iniciar essa caminhada.

Lets Go!!!

# ...mas o que preciso para ler uma base de dados?

### Importando bibliotecas

A Biblioteca Padrão do Python é uma coleção de módulos de script acessíveis a um programa Python para simplificar o processo de programação e remover a necessidade de reescrever os comandos mais usados.

In [10]:
import pandas as pd 
import os

### Navegando até o caminho da pasta local.

In [41]:
os.chdir('C:\\Temp\\')

### Comando para verificar a pasta em que se encontra atualmente

In [42]:
pwd

'C:\\Temp'

### Visualizando o Arquivo a ser utilizado com o comando "ls"

In [43]:
ls cat_vitimas.csv

 Volume in drive C is Windows
 Volume Serial Number is 622D-FA5C

 Directory of C:\Temp

18/04/2022  23:25         5.940.506 cat_vitimas.csv
               1 File(s)      5.940.506 bytes
               0 Dir(s)   3.690.602.496 bytes free

### CSV Files - Realizando a importação da Base ".csv" através do Pandas

Quem mexe no dia a dia com arquivos pesados as vezes se vê de forma repetitiva em abrir o Excel importar o .csv em seguida separar como colunas fixando separador como ponto...aqui em python essa visualização é realizada de forma rápida e dinâmica apenas apontando o nome do arquivo e a pasta.

In [46]:
df = pd.read_csv('cat_vitimas.csv', delimiter=';')

### Visualizando sua base / dataframe

In [49]:
df

,data_extracao,longitude,latitude,idacidente,data,hora,idade,sexo,sit_vitima,log1,...,moto,carroca,bicicleta,outro,lotacao,dia_sem,periododia,fx_et,tipo_veic,consorcio
0,2022-04-01 01:34:14,-51.186166,-30.027910,630905,2017-01-04 00:00:00,09:50:00.0000000,NaN,NAO INFORMADO,CONDUTOR,R TITO LIVIO ZAMBECARI,...,0,0,0,0,0,QUARTA-FEIRA,MANHÃ,NI,AUTOMÓVEL,NaN
1,2022-04-01 01:34:14,-51.190718,-29.999008,630968,2017-01-06 00:00:00,08:10:00.0000000,27.0,MASCULINO,CONDUTOR,AV CEARA,...,1,0,0,0,0,SEXTA-FEIRA,MANHÃ,26 A 35,MOTOCICLETA,NaN
2,2022-04-01 01:34:14,-51.212812,-30.051041,630978,2017-01-07 00:00:00,03:10:00.0000000,NaN,FEMININO,OCUPANTE,AV PROF OSCAR PEREIRA,...,0,0,0,0,0,SÁBADO,MADRUGADA,NI,AUTOMÓVEL,NaN
3,2022-04-01 01:34:14,-51.113918,-30.015335,630982,2017-01-07 00:00:00,13:10:00.0000000,36.0,MASCULINO,CONDUTOR,AV BALTAZAR DE OLIVEIRA GARCIA,...,0,0,0,0,0,SÁBADO,TARDE,36 A 45,AUTOMÓVEL,NaN
4,2022-04-01 01:34:14,-51.205781,-30.030474,630988,2017-01-08 00:00:00,02:45:00.0000000,43.0,MASCULINO,CONDUTOR,R MIGUEL TOSTES,...,0,0,0,0,0,DOMINGO,MADRUGADA,36 A 45,AUTOMÓVEL,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27955,2022-04-01 01:34:14,-51.196813,-30.048567,693761,2022-03-19 00:00:00,13:25:00.0000000,11.0,FEMININO,OCUPANTE,AV IPIRANGA,...,0,0,0,0,0,SÁBADO,TARDE,11 A 17,AUTOMÓVEL,NaN
27956,2022-04-01 01:34:14,-51.137406,-30.157836,693768,2022-03-27 00:00:00,22:00:00.0000000,19.0,MASCULINO,CONDUTOR,AV MERIDIONAL,...,1,0,0,0,0,DOMINGO,NOITE,18 A 25,MOTOCICLETA,NaN
27957,2022-04-01 01:34:14,-51.201729,-30.011278,693819,2022-03-22 00:00:00,16:40:00.0000000,NaN,MASCULINO,CONDUTOR,AV PERNAMBUCO,...,1,0,0,0,0,TERÇA-FEIRA,TARDE,NI,MOTOCICLETA,NaN
27958,2022-04-01 01:34:14,-51.148395,-30.012808,693901,2022-03-29 00:00:00,13:10:00.0000000,46.0,MASCULINO,CONDUTOR,TRAV PROF EMETERIO GARCIA FERNANDEZ,...,1,0,0,0,0,TERÇA-FEIRA,TARDE,46 A 59,MOTOCICLETA,NaN
27959,2022-04-01 01:34:14,-51.196527,-30.033121,693907,2022-03-30 00:00:00,20:50:00.0000000,23.0,FEMININO,CONDUTOR,R CASEMIRO DE ABREU,...,1,0,0,0,0,QUARTA-FEIRA,NOITE,18 A 25,MOTOCICLETA,NaN

### Excel Files - Realizando a importação da Base ".xlsx" através do Pandas através do nome da "sheet".

Quem mexe com excel sabe a necessidade de obter uma visualização rápida do arquivos e quem sabe ter o poder de realizar uma análise utilizando mais recursos como estatísticas e visualizações.

In [59]:
df_excel = pd.read_excel('dataframe.xlsx', sheet_name='principal')

In [60]:
df_excel

   Unnamed: 0     COUNTRY      POP      AREA       GDP       CONT    IND_DAY
0         CHN       China  1398.72   9596.96  12234.78       Asia        NaT
1         IND       India  1351.16   3287.26   2575.67       Asia 1947-08-15
2         USA          US   329.74   9833.52  19485.39  N.America 1776-07-04
3         IDN   Indonesia   268.07   1910.93   1015.54       Asia 1945-08-17
4         BRA      Brazil   210.32   8515.77   2055.51  S.America 1822-09-07
5         PAK    Pakistan   205.71    881.91    302.14       Asia 1947-08-14
6         NGA     Nigeria   200.96    923.77    375.77     Africa 1960-10-01
7         BGD  Bangladesh   167.09    147.57    245.63       Asia 1971-03-26
8         RUS      Russia   146.79  17098.25   1530.75        NaN 1992-06-12
9         MEX      Mexico   126.58   1964.38   1158.23  N.America 1810-09-16
10        JPN       Japan   126.22    377.97   4872.42       Asia        NaT
11        DEU     Germany    83.02    357.11   3693.20     Europe        NaT
12        FRA      France    67.02    640.68   2582.49     Europe 1789-07-14
13        GBR          UK    66.44    242.50   2631.23     Europe        NaT
14        ITA       Italy    60.36    301.34   1943.84     Europe        NaT
15        ARG   Argentina    44.94   2780.40    637.49  S.America 1816-07-09
16        DZA     Algeria    43.38   2381.74    167.56     Africa 1962-07-05
17        CAN      Canada    37.59   9984.67   1647.12  N.America 1867-07-01
18        AUS   Australia    25.47   7692.02   1408.68    Oceania        NaT
19        KAZ  Kazakhstan    18.53   2724.90    159.41       Asia 1991-12-16